#title{
    font-weight: bold;
    font-size: 3em;
}

#ticker {
    font-weight: 600;
    font-size: 2em;
}

#name {
    font-weight: 500;
    font-size: 1.5em;
}

.card-body {
    font-size: 1.2em;
    font-weight: 200;
}